.pwm {
    margin-right: 5px;
    margin-left: 10px;
}

.pwm, .dac{
    border-radius: 10px;
    outline: none;
    border: none;
    position: relative;
    bottom: 5px;
    left: 7px;
    padding: 5px;
}

.lower-digital{
    label{
        position: relative;
        bottom: 3px;
    }
}

.upper-digital>label{
    position: relative;
    right: 1px;
    bottom: 3px;
}

.digitalContainer{
    position: relative;
    top: 5px;
    text-align: center;
}